body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16.3px;
  padding-top: 36px;
  margin-right: 198px;
}
li {
  display: inline;
  color: white;
  padding-left: 200px;
}
li:hover {
  text-decoration: overline;
}

.firstsection {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("backgrounds.png");
  background-position-y: -235px;
  height: 600px;
  background-position-x: 51%;
  background-size: 1582px;
  margin-top: -145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainheading {
  color: white;
  font-size: 28px;
  font-weight: 500;
}
.logo {
  width: 125px;
  height: 120px;
  margin-top: 85px;
}

.resourcestext {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 100px;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resource {
  border: solid 1px black;
  padding: 40px 100px;
}
