body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
}

* {
  font-weight: 200;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16.9px;
  padding-top: 26px;
  margin-right: 198px;
}
li {
  display: inline;
  color: white;
  padding-left: 200px;
}
li:hover {
  text-decoration: overline;
}

.firstsection {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("Images/backgrounds.png");
  background-position-y: -235px;
  height: 600px;
  background-position-x: 51%;
  background-size: 1582px;
  margin-top: -145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainheading {
  color: white;
  font-size: 28px;
  font-weight: 200;
}
.logo {
  width: 125px;
  height: 120px;
  margin-top: 85px;
}

.resourcestext {
  text-align: center;
  margin-top: 65px;
  font-size: 26px;
  margin-bottom: 18px;
  margin-left: -27px;
  font-weight: 300;
}

.resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 85px;
}

.resource {
  border: solid 1px black;
  width: 370px;
  height: 395px;
  margin-top: 45px;
}

.one {
  background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.644)),
    url(Images/cardio.jpeg);
  background-size: 177%;
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
  background-position-x: 0px;
}

.two {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Images/weightlifting.jpg);
  background-size: 107%;
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
}

.three {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Images/yoga.jpg);
  background-size: 166%;
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
}

.resourcesmaintext {
  color: white;
  text-align: center;
  font-weight: 200;
  padding-top: 105px;
  margin-bottom: 0px;
  font-size: 27px;
  text-shadow: -2px 3px 4px black;
}

.resourcestextsub {
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0;
  font-weight: 100;
  padding-top: 13px;
}

.one:hover {
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
  background-size: 190%;
  background-position-x: -20px;
}

.two:hover {
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
  background-size: 113%;
  background-position-x: -10px;
}

.three:hover {
  transition: all 550ms cubic-bezier(0.65, 0.02, 0.36, 1.02);
  background-size: 180%;
  background-position-x: -10px;
}

.whyjoinus {
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
  font-weight: 300;
}

.explanation {
  font-weight: 100;
  text-align: center;
  padding: 0% 29%;
  margin-top: -1px;
  padding-bottom: 30px;
  line-height: 24px;
}

.thirdsection {
  background: #181818;
  padding: 50px 14px;
  color: white;
}

.fourthsection {
  color: black;
  margin-top: 16px;
  margin-bottom: 70px;
  padding: 30px 80px;
  height: auto;
}

.perks {
  display: flex;
  justify-content: space-evenly;
}

.perksstatement {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
}

.fa,
.fas {
  font-size: 55px;
  color: #333333;
  margin-top: 27px;
}

.individualPerks {
  text-align: center;
  flex: 1;
  padding: 0px 30px;
}

.individualPerks h4 {
  font-weight: 300;
}
hr {
  background: #181818;
  width: 160px;
}

footer {
  background: #181818;
  height: 120px;
  text-align: center;
}

footer img {
  width: 30px;
}

footer img {
  width: 87px;
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100vh;
  position: absolute;
}

.hidden {
  display: none;
  animation: fade-in 500ms forwards;
}

.overlaysection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding-top: 203px;
  text-shadow: -2px 2px 3px black;
}

/* add scroll="no" style="overflow: hidden" to body */

.overlaysection div {
  font-size: 27px;
  padding-top: 31px;
}

.overlaysection div:hover {
  text-decoration: underline;
}

.cancelbutton {
  position: absolute;
  top: 0;
  left: 21px;
  color: white;
  font-size: 38px;
  cursor: pointer;
}

.hamburgermenu {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 30px;
}
.hamburgerdiv {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation {
  animation: fade-in 500ms forwards;
}

@media (max-width: 1067px) {
  .hamburgerdiv {
    display: block;
  }

  nav li {
    display: none;
  }

  .explanation {
    padding: 0% 20%;
  }
}
