@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
$accenntcolor: #262626;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16.3px;
  padding-top: 36px;

  .logo {
    width: 92px;
    position: absolute;
    left: 35px;
    top: 18px;
  }

  li {
    display: inline;
    color: white;
    padding-left: 200px;
  }
}

.soloandgroup {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://wallpaperaccess.com/full/1350055.jpg");
  background-position-y: -235px;
  height: 565px;
  background-position-x: -23px;
  background-size: 100%;
  margin-top: -145px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
}
